body,
html {
   background: #dee4e5;
   margin: 0;
   font-family: "Vollkorn", serif;
   font-size: 16px;
}

div {
   margin: 0;
   padding: 0;
}

main {
   background: #fefefe;
   margin: 0 0 1rem;
   padding: 0.5rem 0;
   box-shadow: 1px 1px 6px 1px rgba(30, 30, 30, 0.2);

   @media screen and (min-width: 768px) {
      margin: 0 auto 1rem;
      padding: 0.8rem;
   }

   @media screen and (min-width: 1280px) {
      max-width: 95vw;
      min-height: 60vh;
   }

   @media screen and (min-width: 1440px) {
      max-width: 80vw;
   }

   a {
      color: #999;

      &:hover {
         color: #333;
      }
   }
}

main div.inner {
   background: transparent;
   border: 1px solid #eef1f1;

   @media screen and (min-width: 768px) {
      padding: 0;
   }

   &.home {
      border: none;
   }
}

/* project intro stuff */
div.proj-intro {
   div.proj-intro-right {
      img {
         max-height: 70vh;
         padding: 1rem;
      }
   }
}

/* ------------------- */
/* gallery grid define */
/* ------------------- */

div.labels {
   grid-area: labels;
   text-align: center;
}

div.grid-main {
   grid-area: grid-main;
   display: flex;
   justify-content: center;
   align-items: stretch;
   min-width: 330px;
   padding: 0 0 1rem;

   @media screen and (min-width: 960px) {
      padding: 1rem;
   }
}

div.grid-thumbs {
   grid-area: grid-thumbs;
}

div.gallery-grid {
   display: grid;

   grid-template-columns: 33% 1fr;
   grid-template-rows: auto 1fr;

   grid-template-areas:
      "labels grid-main"
      "grid-thumbs grid-main";

   //padding: 1rem;

   @media screen and (max-width: 959px) {
      grid-template-columns: 1fr;
      grid-template-rows: 160px 1fr 250px;
      padding: 1rem 0;

      grid-template-areas:
         "labels"
         "grid-main"
         "grid-thumbs";
   }
}
/* END - gallery grid define */

/* --------------------------- */
/* Gallery Styles & Animations */
/* --------------------------- */

.gallery-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h4 {
      font-size: 1rem;
      margin-bottom: 2rem;
   }
}

.type-toggler {
   margin: 1rem 0;
   font-style: italic;
   color: #999;
   font-size: 0.9rem;

   a {
      color: #999;
      a.active {
         font-weight: bold;
      }
   }

   @media screen and (min-width: 960px) {
      margin: 2rem 0;
   }
}

.thumbs {
   width: 330px;
   margin: 0 auto;

   @media screen and (min-width: 960px) {
      // margin: 0 0 0 1rem;
   }
}

.gallery-thumbs {
   width: 330px;
   height: 220px;
   overflow: hidden;

   div.gallery-thumbs-scroll {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: transform 0.33s ease-out;
   }

   div.gallery-thumb-btn {
      margin: 0 10px 10px 0;
      cursor: pointer;
      width: 100px;
      height: 100px;
      transition: opacity 0.2s linear;

      &:hover,
      &.active {
         opacity: 0.6;
      }

      img {
         height: 100%;
      }
   }
}

.paginator {
   margin-top: 1rem;
   font-size: 0.9rem;
   font-style: italic;
   a {
      padding: 3px;

      &.active {
         color: #333;
      }
   }
}

.gallery-main {
   min-width: 100%;

   div.fader {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.gallery-main div.fader > span {
   position: relative;
   margin: 0 auto;
   text-align: center;
   max-height: 70vh;
   line-height: 0;
   width: 100%;

   img {
      position: relative;
      max-height: 70vh;
   }
}

.mainpicfade-enter {
   opacity: 0.01;
}

.mainpicfade-enter.mainpicfade-enter-active {
   opacity: 1;
   transition: opacity 600ms ease-out 800ms;
}

.mainpicfade-leave {
   opacity: 1;
}

.mainpicfade-leave.mainpicfade-leave-active {
   opacity: 0.01;
   transition: opacity 600ms ease-in;
}

.mainpicfade-height {
   transition: height 200ms ease-in 600ms;
}

.mainpicfade-appear {
   opacity: 0.01;
}

.mainpicfade-appear.mainpicfade-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

/* Main Content Fader styles */
.mainfader-enter {
   opacity: 0.01;
}

.mainfader-enter.mainfader-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in 700ms;
}

.mainfader-leave {
   opacity: 1;
}

.mainfader-leave.mainfader-leave-active {
   opacity: 0.01;
   transition: opacity 500ms ease-in;
}

.mainfader-height {
   transition: height 200ms ease-in-out 500ms;
}

.mainfader-appear {
   opacity: 0.01;
}

.mainfader-appear.mainfader-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
